<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Demonstração da falha da API</h1>
    <hr>

   {% for app in apps %}
   <h2>Nome: {{app.name}}</h2>
    <h2>client_secret: {{ app.client_id }}</h2>
    <h2>client_id: {{ app.client_secret }}</h2>
    <hr>

    {% endfor %}

    <form action="/app" method="POST">
       
        <button type="submit">Criar um app</button>
    </form>
</body>
</html>